<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">

    <app-big-card
      Id="1"
      photoCover="https://th.bing.com/th/id/OIP.xJji0CiDtbtqgOdfrLE-3AHaHa?rs=1&pid=ImgDetMain"
      cardTitle="Beleza Natural: O Poder do Autocuidado com Cosméticos"
      cardDescription="A suavidade do creme desliza sobre sua pele radiante, revelando o
       poder dos cosméticos no realce da beleza natural. Cada detalhe, do brilho sutil à textura
       aveludada, reflete o equilíbrio perfeito entre autocuidado e confiança. Seu cabelo volumoso e
       impecável complementa a cena, evidenciando que a verdadeira essência da beleza está no cuidado e
        na valorização de si mesma."
      >
    </app-big-card>

  </div>
  <div class="articles__others">
    <app-small-card
      Id="2"
      cardTitle="Maquiagem: Arte, Beleza e Autocuidado em Cada Toque"
      photoCover="https://th.bing.com/th/id/OIP.-pGmA_rv-dCHzcKWsJZjfwHaE8?rs=1&pid=ImgDetMain"
      cardDescription="Diante do espelho, ela desliza suavemente o pincel sobre a pele, transformando cada traço com
      elegância e precisão. A maquiagem não apenas realça sua beleza natural, mas também reflete seu momento de autocuidado
       e expressão pessoal. Cada tom e textura escolhidos contam uma história única, onde confiança e sofisticação se encontram."
    >
    </app-small-card>

    <app-small-card
      Id="3"
      cardTitle="Hidratação e Autocuidado: O Brilho da Beleza Natural"
      photoCover="https://img.freepik.com/fotos-premium/cosmeticos-profissionais-para-pele-bonita-mulher-negra-de-tamanho-grande-segurando-frasco-com-creme-hidratante-na-palma-aberta_116547-27904.jpg"
    >
    </app-small-card
    >

    <app-small-card
      Id="4"
      cardTitle="Essência do Cuidado: O Poder dos Óleos e Cremes Naturais"
      photoCover="https://th.bing.com/th/id/OIP.U3ayaz4QOzT_ywiiRDaxNwHaE7?rs=1&pid=ImgDetMain"
    >
    </app-small-card>
  </div>
</div>
